[Desktop Entry]
Type=Application
Name=Desktop Buddy
Comment=Wandering desktop companion that fixes your text
Exec=/home/tst-017-lenovo/Documents/chandra/desktop-buddy/run.sh
Icon=/home/tst-017-lenovo/Documents/chandra/desktop-buddy/sprite.png
X-GNOME-Autostart-enabled=true
